@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 31, 56;
  --background-rgb: 255, 255, 255;
}

:root.dark {
  --foreground-rgb: 226, 226, 232;
  --background-rgb: 19, 19, 27;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #74748b;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}